{% extends 'base.html' %}
{% block body %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<div class="row container-fluid p-0 mx-0">
    <div class="col-sm-3 m-0 p-0"></div>
    <div class="col-sm-6 m-0 p-0" style=" background-color:rgba(0,0,0,0.2);height: 400px;">
        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->
    <div  class="bg-info text-light">List of Companies</div>
    <div class="text-right" style="margin-right: 20px;margin-top:10px;">
        <a href="{% url 'createcompany' %}"  >Create Company</a><br>
        <a href="{% url 'altercompanyview' %}"  >Alter Company</a><br>
        <a href="{% url 'selectcompany' %}"  >Select Company</a><br>
        <a href="{% url 'shutcompany' %}"  >Shut Company</a>
    </div>
<hr>
           <div>
               <table>
               {% for i in com %}
               {% if i.active == 1 %}
               <tr>
                <div style="margin-left: 20px;">{{i.name}}</div></tr>
                {% endif %}
               {% endfor %}
               </table>
        </div>
                    

                    
    
</form>

</div>
</div>
<div class="col-sm-3  m-0 p-0"></div>

</div> 


{% endblock %}