{% extends 'base.html' %}
{% block body %}



<div class="row container-fluid p-0 mx-0">
    <div class="col-sm-4 m-1 p-0"></div>
    <div class="col-sm-4 m-1 p-0" style=" background-color:rgba(0,0,0,0.2);height: 875px; padding-bottom: 10px;">
        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->
    <div  class="bg-info text-light">List of Groups</div>
           <div>
               <table>
                <br>
                
                <tr>
                    <div style="text-align: right;margin-right: 20px;"><a href="">Create</a></div>   
                    
                    </tr>
                    <tr>
                        <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter' %}">Back</a></div>   
                        
                    </tr>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    
                    
                    {% for i in grp %}
        
                    <tr>
                    <div style="margin-left: 25px;"><a href="">{{i.name}}</a></div>
                    </tr>
                    {% endfor %}
                
               </table>
           </div>
        </div>
    </div>
   

{% endblock %}