{% extends 'base.html' %}
{% block body %}

<style>
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
    }
    .flexy{
        display: flex;
        align-items: center;
        justify-content: center;
    }



</style>



<div class="row container-fluid p-0 mx-0">
    <div class="col-sm-4 m-0 p-0"></div>
    <div class="col-sm-4 m-0 p-0" style=" background-color:rgba(0,0,0,0.2);height: 400px;">
        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->
    <div  class="bg-info text-light ">List of Companies</div>
    <div class="text-right" style="margin-right: 20px;"><a href="{% url 'createcompany' %}"  >Create Company</a></div>
    

           <div>
               <hr>
            <table>
               {% for i in com %}
               <tr>
                   <div style="margin-left:10px;"><a href="{% url 'enable' i.id %}">&nbsp;&nbsp;{{i.name}}</a></div>
                </tr>
               {% endfor %}
               </table>
           </div>   

                    
    
</form>

</div>
</div>
<div class="col-sm-4  m-0 p-0"></div>

</div> 



{% endblock %}